<p>タイトル：　<%= @result[@anime_id]["title"] %></p>
<p>公式URL：　<%= link_to @result[@anime_id]["public_url"], @result[@anime_id]["public_url"], target: :_blank %></p>
<p>Twitter:　<%= link_to "Twitter", "https://twitter.com/#{@result[@anime_id]['twitter_account']}", target: :_blank %></p>
<p>ハッシュタグ: <%= link_to "#" + @result[@anime_id]['twitter_hash_tag'], "https://twitter.com/hashtag/#{@result[@anime_id]['twitter_hash_tag']}", target: :_blank %></p>
<p>
  <% if @result[@anime_id]["sex"] == 0 %>
    男性向け
  <% elsif @result[@anime_id]["sex"] == 1 %>
    女性向け
  <% end %>
</p>