<% if @result.present? %>
  <% i = 0 %>
  <h2><%= @year %>年 <%= @season %>シーズン</h2>
  <hr>
  <div class="row">
    <% while i < @result.length %>
      <div class="col-lg-2 col-md-4 col-xs-6">
        <div class="card">
          <img src="assets/Chess.jpeg" class="card-img-top" alt="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= @result[i]["title"] %></h5>
            <%# <p class="card-text"></p> %>
            <p class="card-text"><small class="text-muted"><%= "#" + @result[i]['twitter_hash_tag'] %></small></p>
          </div>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
<% else %>
  <p>データがありません。</p>
<% end %>